<p>Users list</p>

<div class="options-bar">
  <nz-input-group
    style="margin-bottom: 16px; width: 25vw; border-radius: 3px; outline: none"
  >
    <input
      type="text"
      nz-input
      placeholder="Search and filter users"
      [(ngModel)]="searchText"
      (ngModelChange)="filterData(searchText)"
    />
  </nz-input-group>

  <button nz-button nzType="primary" nzShape="circle">
    <span nz-icon nzType="plus"></span>
  </button>
</div>

<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="filteredData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>Name</th>
      <th>Email</th>
      <th>Github</th>
      <th>Type</th>
      <th>Register date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(data.use_code)"
        (nzCheckedChange)="onItemChecked(data.use_code, $event)"
      ></td>
      <td>{{ data.use_name }}</td>
      <td>{{ data.use_email }}</td>
      <td>{{ data.use_github }}</td>
      <td>{{ data.use_type }}</td>
      <td>{{ data.use_datfor }}</td>
    </tr>
  </tbody>
</nz-table>
