.container {
  display: flex;
  align-items: center;
  padding: 25px;
  width: 85vw;
  height: 80vh;
  background-color: #fafaff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 7px;
}
