<nz-row class="container">
  <nz-col nzXs="24" nzSm="8">
    <h1 class="login-title">Register</h1>
    <form
      nz-form
      [formGroup]="registerForm"
      (ngSubmit)="register(registerForm)"
    >
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <i nz-icon nzType="user"></i>
            <input
              formControlName="firstName"
              nz-input
              placeholder="First Name"
              class="form-input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <i nz-icon nzType="user"></i>
            <input
              formControlName="lastName"
              nz-input
              placeholder="Last Name"
              class="form-input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <i nz-icon nzType="mail"></i>
            <input
              formControlName="email"
              nz-input
              type="email"
              placeholder="Email"
              class="form-input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <i nz-icon nzType="bank"></i>
            <select
              formControlName="company"
              nz-select
              placeholder="Select a company"
            >
              <option value="company1">Company 1</option>
              <option value="company2">Company 2</option>
              <option value="company3">Company 3</option>
            </select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <i nz-icon nzType="github"></i>
            <input
              formControlName="github"
              nz-input
              type="url"
              placeholder="GitHub URL"
              class="form-input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <i nz-icon nzType="picture"></i>
            <input
              formControlName="photo"
              nz-input
              type="file"
              placeholder="Optional photo"
              class="form-input"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="login-button">
        <button nz-button nzType="primary">Register</button>
      </nz-form-item>

      <nz-form-item class="social-buttons">
        <button nz-button nzType="default" class="github-button">
          <i nz-icon nzType="github"></i>
          Register with GitHub
        </button>
        <button nz-button nzType="default" class="google-button">
          <i nz-icon nzType="google"></i>
          Register with Google
        </button>
      </nz-form-item>
    </form>
  </nz-col>
  <nz-col nzXs="24" nzSm="12">
    <!-- Some image or content -->
    <!-- <img src="/src/assets/pexels-василь-вовк-4405367.jpg" /> -->
  </nz-col>
</nz-row>
