<div class="wrap-login">
  <div class="container" style="width: 450px">
    <div class="row center-align">
      <h2 style="color: rgb(112 112 112)">Login</h2>
    </div>

    <div class="row input-field col s1 l10">
      <p class="cls-label">Username</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="row input-field col s1 l10">
      <p class="cls-label">Password</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="row center-align" style="margin-top: 80px">
      <a class="waves-effect waves-light btn">send</a>
    </div>

    <div class="row center-align">
      <a href="">Forgot my password?</a>
    </div>
  </div>
</div>
