.wrap-login {
  // Form
  .cls-title {
    color: rgb(112 112 112);
    margin-bottom: 0;
    font-weight: 500;
  }
  .cls-label {
    color: rgb(175 175 175);
    font-size: 21px;
    font-weight: 100;
    margin-top: 0;
  }
}
