<div class="view-user">
  <h3 nz-typography>{{ project?.pro_title }}</h3>
  <p>{{ project?.pro_descri }}</p>

  <nz-row style="margin: 27px 0">
    <nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card nzHoverable>
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>Kanban</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card nzHoverable>
        <i nz-icon nzType="file" nzTheme="outline"></i>
        <span>Repositories</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card nzHoverable>
        <i nz-icon nzType="mail" nzTheme="outline"></i>
        <span>Testing</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card nzHoverable>
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Deploy</span>
      </nz-card>
    </nz-col>
  </nz-row>

  <div nz-row>
    <div nz-col nzXs="24" nzSm="12">
      <h4>Tickets</h4>

      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let item of tickets">
          <nz-list-item-meta
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          >
            <nz-list-item-meta-title>
              <a href="https://ng.ant.design">{{ item.title }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>

    <div nz-col nzXs="24" nzSm="12">
      <h4>Issues</h4>

      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let item of issues">
          <nz-list-item-meta
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          >
            <nz-list-item-meta-title>
              <a href="https://ng.ant.design">{{ item.title }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzXs="24" nzSm="24">
      <h4>Users</h4>
      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let item of tickets">
          <nz-list-item-meta
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          >
            <nz-list-item-meta-title>
              <a href="https://ng.ant.design">{{ item.title }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>
  </div>
</div>
