<div class="view-user">
  <h3 nz-typography>{{ project?.pro_title }}</h3>
  <p>{{ project?.pro_descri }}</p>
  <p>
    by <b> {{ project?.pro_owner }} </b>
  </p>

  <nz-row>
    <nz-col
      ><p>
        {{ project?.pro_datstart }}
      </p>
    </nz-col>
    <nz-col
      ><p>
        {{ project?.pro_datend }}
      </p>
    </nz-col>
  </nz-row>

  <nz-row class="buttons-bar" style="margin: 27px 0">
    <nz-col nzXs="24" nzSm="12" nzMd="4">
      <nz-card nzHoverable>
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
        <span>Docs</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="4">
      <nz-card nzHoverable>
        <i nz-icon nzType="down-square" nzTheme="outline"></i>
        <span>Kanban</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="4">
      <nz-card nzHoverable>
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>Analytics</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="4">
      <nz-card nzHoverable>
        <i nz-icon nzType="code" nzTheme="outline"></i>
        <span>Repositories</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="4">
      <nz-card nzHoverable>
        <i nz-icon nzType="check" nzTheme="outline"></i>
        <span>Testing</span>
      </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="4">
      <nz-card nzHoverable>
        <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
        <span>Deploy</span>
      </nz-card>
    </nz-col>
  </nz-row>

  <div nz-row nzGutter="16" style="padding: 10px; border-radius: 6px">
    <div nz-col nzXs="24" nzSm="12" style="margin-top: 30px">
      <nz-row nzJustify="space-between" nzAlign="middle">
        <nz-col>
          <h3 nz-typography>Tickets</h3>
        </nz-col>
        <nz-col>
          <button
            nz-button
            nzType="primary"
            (click)="createComponentModal('Ticket')"
            nzBlock
          >
            Add ticket
          </button>
        </nz-col>
      </nz-row>

      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let item of displayedTickets">
          <nz-skeleton
            [nzLoading]="loading"
            [nzActive]="true"
            [nzAvatar]="true"
          >
            <nz-list-item-meta
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              [nzTitle]="item.item_title"
              [nzDescription]="item.item_descri | slice : 0 : 100"
            >
            </nz-list-item-meta>
          </nz-skeleton>
        </nz-list-item>
      </nz-list>
      <nz-pagination
        [nzPageIndex]="1"
        [nzTotal]="totalTickets"
        [nzPageSize]="4"
        (nzPageIndexChange)="onPageIndexChangeT($event)"
      ></nz-pagination>
    </div>

    <div nz-col nzXs="24" nzSm="12" style="margin-top: 30px">
      <nz-row nzJustify="space-between" nzAlign="middle">
        <nz-col>
          <h3 nz-typography>Issues</h3>
        </nz-col>
        <nz-col>
          <button
            nz-button
            nzType="primary"
            (click)="createComponentModal('Issue')"
            nzBlock
          >
            Add issue
          </button>
        </nz-col>
      </nz-row>

      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let item of displayedIssues">
          <!-- <nz-skeleton
            [nzLoading]="loading"
            [nzActive]="true"
            [nzAvatar]="true"
          > -->
          <nz-list-item-meta
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            [nzTitle]="item.item_title"
            [nzDescription]="item.item_descri | slice : 0 : 100"
          >
          </nz-list-item-meta>
          <!-- </nz-skeleton> -->
          <nz-tag
            *ngIf="item.item_docs.length > 0"
            color="blue"
            style="cursor: pointer"
            (click)="viewFile(item.item_docs)"
          >
            <i nz-icon nzType="file"></i>
            File
          </nz-tag>
        </nz-list-item>
      </nz-list>
      <nz-pagination
        [nzPageIndex]="1"
        [nzTotal]="totalIssues"
        [nzPageSize]="4"
        (nzPageIndexChange)="onPageIndexChangeI($event)"
      ></nz-pagination>
    </div>
  </div>

  <div class="users-container" style="margin: 27px 0">
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 15px"
    >
      <h3 nz-typography>Users</h3>
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          (click)="createComponentModalUsers()"
        >
          Add users
        </button>
        <button
          *nzSpaceItem
          nz-button
          nzNoAnimation
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
          style="border: none; padding: 0"
        >
          <span
            nz-icon
            nzType="more"
            nzTheme="outline"
            style="font-size: 20px; vertical-align: top"
          ></span>
        </button>
      </nz-space>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Option 1</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <nz-table #basicTable [nzData]="project.pro_users">
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.use_name }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
