<div class="view-user">
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 15px"
  >
    <h3 nz-typography>
      {{ (user?.use_name || "") + " " + (user?.use_lastname || "") }}
    </h3>
    <nz-space>
      <button
        *ngIf="!editMode"
        nz-button
        nzType="primary"
        (click)="triggerEdit()"
      >
        Edit user
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzNoAnimation
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzPlacement="bottomRight"
        style="border: none; padding: 0"
      >
        <span
          nz-icon
          nzType="more"
          nzTheme="outline"
          style="font-size: 20px; vertical-align: top"
        ></span>
      </button>
    </nz-space>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Option 1</li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <!-- User detail -->
  <div nz-row [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 6 }" *ngIf="!editMode">
    <div nz-col nzXs="24" nzSm="5">
      <!-- Avatar -->
      <div nz-row style="justify-content: center; margin-bottom: 12px">
        <nz-avatar
          [nzSize]="200"
          [nzSrc]="
            user?.use_pic ||
            'https://firebasestorage.googleapis.com/v0/b/mantis-project-7c277.appspot.com/o/avataaars-example.png?alt=media&token=0e4ce4f4-10cd-4009-af54-71137fe4e676'
          "
        ></nz-avatar>
      </div>
      <!-- / Avatar -->
    </div>

    <div nz-col nzXs="24" nzSm="19">
      <nz-row
        [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 6 }"
        style="margin-bottom: 12px"
      >
        <nz-col nzXs="24" nzSm="8">
          <h5 nz-typography>Name</h5>
          <p>{{ user?.use_name }}</p>
        </nz-col>
        <nz-col nzXs="24" nzSm="8">
          <h5 nz-typography>Lastname</h5>
          <p>{{ user?.use_lastname }}</p>
        </nz-col>
        <nz-col nzXs="24" nzSm="8">
          <h5 nz-typography>Email</h5>
          <p>{{ user?.use_email }}</p>
        </nz-col>
      </nz-row>

      <nz-row
        [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 6 }"
        style="margin-bottom: 12px"
      >
        <nz-col nzXs="24" nzSm="8">
          <h5 nz-typography>User type</h5>
          <p>{{ user?.use_type }}</p>
        </nz-col>
        <nz-col nzXs="24" nzSm="8">
          <h5 nz-typography>User profile config</h5>
          <p>{{ user?.pro_name }}</p>
        </nz-col>
        <nz-col nzXs="24" nzSm="8" *ngIf="user?.use_type === 'Developer'">
          <h5 nz-typography>User Github</h5>
          <p>{{ user?.use_github }}</p>
        </nz-col>
        <nz-col nzXs="24" nzSm="8">
          <h5 nz-typography>User company</h5>
          <p>{{ user?.cop_name }}</p>
        </nz-col>
      </nz-row>
    </div>
  </div>
  <!-- / User detail -->

  <!-- Edit form -->
  <div class="edit-form" *ngIf="editMode">
    <div nz-row [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 6 }">
      <div nz-col nzXs="24" nzSm="5">
        <!-- Avatar -->
        <div nz-row style="justify-content: center; margin-bottom: 12px">
          <nz-avatar
            [nzSize]="200"
            [nzSrc]="
              user?.use_pic ||
              'https://firebasestorage.googleapis.com/v0/b/mantis-project-7c277.appspot.com/o/avataaars-example.png?alt=media&token=0e4ce4f4-10cd-4009-af54-71137fe4e676'
            "
          ></nz-avatar>
        </div>
        <div nz-row>
          <button nz-button nzType="default" style="width: 100%">
            <span nz-icon nzType="picture"></span>
            Update
          </button>
        </div>
        <!-- / Avatar -->
      </div>

      <div nz-col nzXs="24" nzSm="19">
        <!-- Edit Form -->
        <form [formGroup]="userForm" (ngSubmit)="updateUser(userForm)">
          <nz-form-control>
            <nz-row
              [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 6 }"
              style="margin-bottom: 12px"
            >
              <nz-col nzXs="24" nzSm="8">
                <h5 nz-typography>Name*</h5>
                <input nz-input formControlName="use_name" />
              </nz-col>
              <nz-col nzXs="24" nzSm="8">
                <h5 nz-typography>Lastname*</h5>
                <input nz-input formControlName="use_lastname" />
              </nz-col>
              <nz-col nzXs="24" nzSm="8">
                <h5 nz-typography>User type*</h5>
                <nz-select
                  nzAllowClear
                  nzPlaceHolder="Choose a type"
                  formControlName="use_type"
                >
                  <ng-container *ngFor="let data of userTypes">
                    <nz-option
                      [nzValue]="data.value"
                      [nzLabel]="data.text"
                    ></nz-option>
                  </ng-container>
                </nz-select>
              </nz-col>
            </nz-row>
          </nz-form-control>

          <nz-form-control>
            <nz-row
              [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 6 }"
              style="margin-bottom: 12px"
            >
              <nz-col nzXs="24" nzSm="8">
                <h5 nz-typography>Email*</h5>
                <input nz-input formControlName="use_email" [disabled]="true" />
              </nz-col>

              <nz-col nzXs="24" nzSm="8">
                <h5 nz-typography>User profile*</h5>
                <nz-select
                  nzAllowClear
                  nzPlaceHolder="Choose a profile config"
                  formControlName="pro_code"
                >
                  <ng-container *ngFor="let data of profiles">
                    <nz-option
                      [nzValue]="data.pro_code"
                      [nzLabel]="data.pro_name"
                    ></nz-option>
                  </ng-container>
                </nz-select>
                <div
                  class="validation-message"
                  *ngIf="
                    userForm.get('pro_code')!.invalid &&
                    userForm.get('pro_code')!.touched
                  "
                  nz-form-explain
                >
                  Please enter a user profile config.
                </div>
              </nz-col>
              <nz-col
                nzXs="24"
                nzSm="8"
                *ngIf="userForm.get('use_type')?.value == 'Developer'"
              >
                <h5 nz-typography>Github profile</h5>
                <input
                  nz-input
                  formControlName="use_github"
                  [disabled]="true"
                />
              </nz-col>

              <nz-col nzXs="24" nzSm="8">
                <h5 nz-typography>User company*</h5>
                <nz-select
                  nzAllowClear
                  formControlName="cop_code"
                  nzPlaceHolder="Choose a company"
                >
                  <ng-container *ngFor="let data of companies">
                    <nz-option
                      [nzValue]="data.cop_code"
                      [nzLabel]="data.cop_name"
                    ></nz-option>
                  </ng-container>
                </nz-select>
              </nz-col>
            </nz-row>
          </nz-form-control>

          <button
            nz-button
            nzType="primary"
            (click)="updateUser(userForm)"
            style="margin-right: 15px"
          >
            Save
          </button>
          <button nz-button nzType="default" (click)="editMode = false">
            Cancel
          </button>
        </form>
        <!-- / Edit Form -->
      </div>
    </div>
  </div>
  <!-- / Edit form -->
</div>

<nz-divider></nz-divider>

<div class="projects-container">
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 15px"
  >
    <!-- <nz-avatar
      nz-page-header-avatar
      nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"
    ></nz-avatar> -->
    <h3 nz-typography>Projects</h3>
    <nz-space>
      <button *nzSpaceItem nz-button nzType="primary">Add to project</button>
      <button
        *nzSpaceItem
        nz-button
        nzNoAnimation
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzPlacement="bottomRight"
        style="border: none; padding: 0"
      >
        <span
          nz-icon
          nzType="more"
          nzTheme="outline"
          style="font-size: 20px; vertical-align: top"
        ></span>
      </button>
    </nz-space>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Option 1</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <nz-table #basicTable [nzData]="projects">
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.pro_title }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-divider></nz-divider>

<div class="analytics-container">
  <h3 nz-typography>Analytics</h3>
</div>
