<div class="content">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header style="background-color: black" [nzGhost]="false">
      <nz-page-header-title style="color: white; cursor: pointer" routerLink="/"
        >Mantis</nz-page-header-title
      >
      <nz-page-header-extra>
        <nz-space>
          <a *nzSpaceItem style="color: white">Docs</a>
          <a *nzSpaceItem style="color: white" routerLink="/register"
            >Sign up</a
          >
          <a *nzSpaceItem style="color: white">Our project</a>
          <a
            *nzSpaceItem
            style="color: white; text-decoration: underline"
            routerLink="/login"
            >Login</a
          >
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>

  <div nz-row style="height: calc(100vh - 75px)">
    <div
      nz-col
      nzXs="24"
      nzSm="8"
      style="margin: 8% 0; font-size: 17px; color: #3e3e3e; padding: 24px"
    >
      <p class="cls-open-tag">&#60;body&#62;</p>
      <h2 style="font-size: 63px; margin: 0">mantis</h2>
      <p class="cls-subtitle">
        A bug tracker to manage software projects <br />
        and connect users with developers
      </p>
      <p style="margin-top: 45px">&#60; &#47; body&#62;</p>
    </div>

    <div nz-col nzXs="24" nzSm="8">
      <nz-row>
        <nz-col nzSpan="24">
          <nz-card class="cl-card">
            <div nzTitle>Create integrations with our api</div>
            <div nzBody>
              <p>Read our developer docs to connect to our data api.</p>
              <button nz-button nzType="primary">Read docs</button>
            </div>
          </nz-card>
        </nz-col>
      </nz-row>

      <nz-row>
        <nz-col nzSpan="12">
          <nz-card class="cl-card">
            <div nzTitle>Manage your projects with mantis</div>
            <div nzBody>
              <p>
                If you are a maker interested in building innovative projects
                with software solutions use Mantis system
              </p>
              <button nz-button nzType="primary">Get started</button>
            </div>
          </nz-card>
        </nz-col>

        <nz-col nzSpan="12">
          <nz-card class="cl-card">
            <div nzTitle>Let's craft and get done your ideas</div>
            <div nzBody>
              <p>
                We can create costumize software for high complexity business
                models.
              </p>
              <button nz-button nzType="primary">Write request</button>
            </div>
          </nz-card>
        </nz-col>
      </nz-row>
    </div>
  </div>
</div>
