<h3 nz-typography>Kanban</h3>

<nz-row class="options-bar">
  <nz-col class="inputs-bar" nzXs="24" nzSm="12">
    <nz-input-group
      style="width: 50%; border-radius: 3px; outline: none; margin-right: 15px"
    >
      <nz-form-control>
        <nz-select
          nzAllowClear
          nzPlaceHolder="Select a kanban board"
          formControlName="use_type"
        >
          <ng-container *ngFor="let board of boardsList">
            <nz-option
              [nzValue]="board.board_id"
              [nzLabel]="board.board_title"
            ></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-input-group>
    <nz-input-group style="width: 50%">
      <input
        type="text"
        nz-input
        placeholder="Search in card items"
        [(ngModel)]="searchText"
        (ngModelChange)="filterData(searchText)"
      />
    </nz-input-group>
  </nz-col>

  <nz-col class="buttons-bar" nzXs="24" nzSm="12">
    <button nz-button nzType="primary" nzShape="circle">
      <span nz-icon nzType="share-alt"></span>
    </button>
    <button nz-button nzType="primary" nzShape="circle">
      <span nz-icon nzType="filter"></span>
    </button>
    <button nz-button nzType="primary" nzShape="circle" (click)="createBoard()">
      <span nz-icon nzType="plus"></span>
    </button>
  </nz-col>
</nz-row>

<div
  cdkDropListGroup
  cdkDropList
  [cdkDropListData]="board"
  (cdkDropListDropped)="dropBoard($event)"
  class="boards-table-list"
>
  <div class="boards-container">
    <nz-col
      cdkDrag
      *ngFor="let column of board"
      class="board-column"
      nzXs="24"
      nzSm="12"
      nzMd="6"
      [nzSpan]="8"
    >
      <div class="board">
        <h4 class="board-title" nz-typography>{{ column.title }}</h4>
        <nz-space>
          <button
            *nzSpaceItem
            nz-button
            nzNoAnimation
            nz-dropdown
            [nzDropdownMenu]="menu"
            nzPlacement="bottomRight"
            style="border: none; padding: 0"
          >
            <span
              nz-icon
              nzType="more"
              nzTheme="outline"
              style="font-size: 20px; vertical-align: top"
            ></span>
          </button>
        </nz-space>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li
              nz-menu-item
              nz-popover
              nzPopoverTitle="Are you sure?"
              (nzPopoverVisibleChange)="change($event)"
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentTemplate"
            >
              Delete
            </li>
            <li nz-menu-item>Edit</li>
          </ul>

          <ng-template #contentTemplate>
            <a (click)="deleteBoard(column.id)">Yes</a>
            <a (click)="close()">No</a>
          </ng-template>
        </nz-dropdown-menu>
      </div>

      <div
        cdkDropList
        [cdkDropListData]="column.cards"
        class="board-cards-list"
        (cdkDropListDropped)="drop($event, column)"
        (click)="setNewCard(column)"
      >
        <!-- [ngStyle]="{ 'background-color': getCardColor(card.card_type) }" -->
        <div
          class="card"
          *ngFor="let card of column.cards"
          cdkDrag
          (contextmenu)="onRightClick($event, card)"
        >
          <p class="card-title">
            {{ card.title }}
          </p>

          <nz-tag
            [nzColor]="getCardColor(card.card_type)"
            style="border-radius: 10px"
            >{{ card.card_type }}</nz-tag
          >

          <p class="card-user-date">
            {{ card.use_name }} - {{ card.card_datins }}
          </p>
        </div>
        <div *ngIf="showCardInput && selectedColumn.id === column.id">
          <input
            #cardInput
            style="margin: 7px; border: none; border-radius: 5px"
            type="text"
            placeholder="Enter card title"
            [(ngModel)]="newCardTitle"
            (keyup.enter)="insertCard(column)"
          />
        </div>
      </div>
    </nz-col>
    <nz-col [nzSpan]="8" style="height: 48.5vh; width: 200px">
      <h4 nz-typography></h4>
      <div
        style="
          height: 48vh;
          width: 190px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div style="display: inline; cursor: pointer">
          <p (click)="showInput()">Add new board</p>
          <div *ngIf="showInputBox">
            <input
              type="text"
              #inputBox
              style="margin: 7px; border: none; border-radius: 5px"
              placeholder="Enter board title"
              (keyup.enter)="addBoard(inputBox.value)"
            />
          </div>
        </div>
      </div>
    </nz-col>
  </div>
</div>
