.options-bar {
  display: flex;
  justify-content: space-between;

  .inputs-bar {
    display: inherit;
    margin-bottom: 20px;
  }

  .buttons-bar {
    display: flex;
    justify-content: flex-end;
  }
  .buttons-bar button {
    margin-right: 10px;
  }
}

.boards-table-list {
  .boards-container {
    .board-column {
      .board {
        .board-title {
          cursor: grab;
        }
        display: flex;
        justify-content: space-between;
      }
      width: 200px;
      margin-right: 20px;
    }

    .board-cards-list {
      .card {
        .card-title {
          font-size: 12px;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-wrap: break-word;
          max-width: 100%;
        }
        .card-user-date {
          font-size: 10px;
          display: flex;
          margin: 5px 0px 6px 3px;
        }
        padding: 5px;
        border-radius: 7px;
        margin: 7px 5px 12px 0;
        cursor: grab;
        background-color: #f4f4f4;
      }

      height: 65vh;
      overflow-y: scroll;
      border-radius: 9px;
      margin-bottom: 20px;
    }

    display: flex;
    overflow-x: scroll;
    margin-bottom: 119px;
  }
}
