<h3 nz-typography>Kanban</h3>

<div class="options-bar">
  <div class="inputs-bar">
    <nz-input-group
      style="
        margin-bottom: 16px;
        margin-right: 10px;
        width: 25vw;
        border-radius: 3px;
        outline: none;
        width: 50%;
      "
    >
      <nz-form-control>
        <nz-col nzXs="12" nzSm="24">
          <nz-select
            nzAllowClear
            nzPlaceHolder="Select a kanban board"
            formControlName="use_type"
          >
            <ng-container *ngFor="let board of boardsList">
              <nz-option
                [nzValue]="board.board_id"
                [nzLabel]="board.board_title"
              ></nz-option>
            </ng-container>
          </nz-select>
        </nz-col>
      </nz-form-control>
    </nz-input-group>
    <nz-input-group style="width: 50%">
      <input
        type="text"
        nz-input
        placeholder="Filter card items"
        [(ngModel)]="searchText"
        (ngModelChange)="filterData(searchText)"
      />
    </nz-input-group>
  </div>
  <div class="buttons-bar">
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      style="margin-right: 10px"
    >
      <span nz-icon nzType="share-alt"></span>
    </button>
    <button nz-button nzType="primary" nzShape="circle" (click)="createBoard()">
      <span nz-icon nzType="plus"></span>
    </button>
  </div>
</div>

<nz-divider></nz-divider>

<div cdkDropListGroup>
  <div class="example-container" style="display: flex; overflow-x: scroll">
    <nz-col *ngFor="let column of board" [nzSpan]="8" style="width: 200px">
      <h4 nz-typography>{{ column.title }}</h4>
      <div
        cdkDropList
        [cdkDropListData]="column.cards"
        class="example-list"
        (cdkDropListDropped)="drop($event, column)"
        style="background-color: #f4f4f4; height: 45vh; overflow-y: scroll"
      >
        <div
          class="example-box"
          *ngFor="let card of column.cards"
          cdkDrag
          style="
            background-color: white;
            padding: 5px;
            border-radius: 7px;
            margin: 7px;
            cursor: grab;
          "
        >
          {{ card.title }}
        </div>
      </div>
    </nz-col>
    <nz-col [nzSpan]="8" style="height: 48.5vh; width: 200px">
      <h4 nz-typography></h4>
      <div style="background-color: #f4f4f4; height: 45vh">
        <p (click)="showInput()">Add new board</p>
        <div *ngIf="showInputBox">
          <input
            type="text"
            #inputBox
            placeholder="Enter board title"
            (keyup.enter)="addBoard(inputBox.value)"
          />
          <!-- <button >Submit</button> -->
        </div>
      </div>
    </nz-col>
  </div>
</div>
