<div class="row" style="height: calc(100vh - 64px)">
  <div class="col s12 l6 valign-wrapper" style="height: calc(100vh - 64px)">
    <div style="margin: 12px">
      <p style="color: rgb(175 175 175); font-size: 21px">&#60;body&#62;</p>
      <h2 style="color: rgb(112 112 112); margin-bottom: 0; font-weight: 500">
        mantis
      </h2>
      <p
        style="
          color: rgb(175 175 175);
          font-size: 21px;
          font-weight: 100;
          margin-top: 0;
        "
      >
        A bug tracker to manage software projects <br />
        and connect users with developers
      </p>
      <p style="margin-top: 52px; color: rgb(175 175 175); font-size: 21px">
        &#60; &#47; body&#62;
      </p>
    </div>
  </div>

  <div class="col s12 l6 valign-wrapper" style="height: calc(100vh - 64px)">
    <div class="row">
      <div class="col s12 m6 l12">
        <!-- Card 1 -->
        <div class="card teal lighten-2">
          <div class="card-content white-text">
            <span class="card-title">Software development system</span>
            <p>
              Find out how we reached to systematically manage and delivery
              software development projects data. Know our concepts and
              integration tools
            </p>
          </div>
          <div class="card-action">
            <a
              href="#"
              style="
                color: white;
                font-weight: 500;
                font-size: 15px;
                text-transform: lowercase;
              "
              >View more</a
            >
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card blue lighten-2">
          <div class="card-content white-text">
            <span class="card-title">QA, test and deploy tools</span>
            <p>
              See how to develop software projects with quality in highly agile
              environments
            </p>
          </div>
          <div class="card-action">
            <a
              href="#"
              style="
                color: white;
                font-weight: 500;
                font-size: 15px;
                text-transform: lowercase;
              "
              >View more</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
