<!-- First section -->
<div class="row wrap-content" style="height: 50px; margin-top: 38px">
  <!-- General page title -->
  <div class="col s12 l6 valign-wrapper cls-col">
    <div style="margin: 12px">
      <p class="cls-open-tag mtis-textcolor2">&#60;body&#62;</p>
      <h2 class="cls-title mtis-textcolor1">mantis</h2>
      <p class="cls-subtitle mtis-textcolor2">
        A bug tracker to manage software projects <br />
        and connect users with developers
      </p>
      <p class="cls-closing-tag mtis-textcolor2">&#60; &#47; body&#62;</p>
    </div>
  </div>
  <!-- General page cards -->
  <div class="col s12 l6 valign-wrapper cls-col">
    <div class="row">
      <div class="col s12 m6 l12">
        <!-- Card 1 -->
        <div class="card teal lighten-2">
          <div class="card-content white-text">
            <span class="card-title">Software development system</span>
            <p>
              Find out how we reached to systematically manage and delivery
              software development projects data. Know our concepts and
              integration tools
            </p>
          </div>
          <div class="card-action cls-card">
            <a href="#" class="cls-card-link">View more</a>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card blue lighten-2 cls-card">
          <div class="card-content white-text">
            <span class="card-title">QA, test and deploy tools</span>
            <p>
              See how to develop software projects with quality in highly agile
              environments
            </p>
          </div>
          <div class="card-action">
            <a href="#" class="cls-card-link">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row wrap-content2" style="height: 50px; margin-top: 38px">
  <!-- Call to action -->
  <div
    class="col s12 l6 valign-wrapper center-align cls-col"
    style="padding: 19px"
  >
    <div class="row">
      <div class="col s12 m6 l12">
        <h2 style="font-size: 35px; font-weight: 500; color: #707070">
          Having a great software project idea?
        </h2>
      </div>
      <div class="col s12 m6 l12 center-align">
        <a
          routerLink="/request"
          class="waves-effect waves-light btn"
          style="margin-top: 24px"
        >
          <i class="material-icons left">inbox</i>tell us
        </a>
      </div>
    </div>
  </div>
  <!-- Image -->
  <div class="col s12 l6 valign-wrapper cls-col">
    <div class="container">
      <img
        data-caption="A picture of a way with a group of trees in a park"
        width="250"
        src="../../../assets/media/img/undraw_team_up_re_84ok.svg"
        style="display: block; margin-left: auto; margin-right: auto"
      />
    </div>
  </div>
</div>
