.wrap-content {
  // height: calc(131vh - 100px);
  height: 600px;

  .cls-col {
    // height: calc(131vh - 100px);
    height: 550px;

    //Mantis main titles
    .cls-open-tag {
      font-size: 21px;
    }
    .cls-title {
      margin-bottom: 0;
      font-weight: 500;
    }
    .cls-subtitle {
      font-size: 21px;
      font-weight: 100;
      margin-top: 0;
    }
    .cls-closing-tag {
      margin-top: 52px;
      font-size: 21px;
    }

    //Cards
    .cls-card {
      .cls-card-link {
        color: white;
        font-weight: 500;
        font-size: 15px;
        text-transform: lowercase;
      }
    }
  }
}

.wrap-content2 {
  // height: calc(131vh - 100px);
  height: 363px;

  .cls-col {
    // height: calc(131vh - 100px);
    height: 363px;
  }
}
