.wrap-content {
  height: calc(131vh - 100px);

  .cls-col {
    height: calc(131vh - 100px);

    //Mantis main titles
    .cls-open-tag {
      color: rgb(175 175 175);
      font-size: 21px;
    }
    .cls-title {
      color: rgb(112 112 112);
      margin-bottom: 0;
      font-weight: 500;
    }
    .cls-subtitle {
      color: rgb(175 175 175);
      font-size: 21px;
      font-weight: 100;
      margin-top: 0;
    }
    .cls-closing-tag {
      margin-top: 52px;
      color: rgb(175 175 175);
      font-size: 21px;
    }

    //Cards
    .cls-card {
      .cls-card-link {
        color: white;
        font-weight: 500;
        font-size: 15px;
        text-transform: lowercase;
      }
    }
  }
}
