.container {
  padding: 25px;
  width: 30vw;
  height: 80vh;
  background-color: #fafaff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 7px;

  .login-title {
    text-align: start;
    margin-bottom: 33px;
  }

  .form-input {
    text-align: start;
    margin-left: 14px;
  }

  .login-button {
    width: 56px;
    margin: 0 auto 23px;
  }

  .ant-input-group {
    padding: 0;
    display: flex;
    border-collapse: separate;
    border-spacing: 0;
    align-items: center;
  }

  @media (max-width: 768px) {
    width: 80vw;
  }
}
