.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 30px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
