<div class="container">
  <div style="display: flex">
    <span
      nz-icon
      nzType="left"
      nzTheme="outline"
      style="font-size: 21px; margin: 12px; cursor: pointer"
      routerLink="/landing"
    ></span>
    <h1 class="login-title">Login</h1>
  </div>

  <form nz-form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <i nz-icon nzType="user"></i>
          <input
            formControlName="username"
            nz-input
            placeholder="Username"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <i nz-icon nzType="lock"></i>
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="login-button">
      <button nz-button nzType="primary">Log in</button>
    </nz-form-item>

    <nz-form-item>
      <button nz-button nzType="default" nzBlock (click)="loginWithGoogle()">
        <i nz-icon nzType="google"></i> Login with Google
      </button>
      <br />
      <br />
      <button nz-button nzType="default" nzBlock (click)="loginWithGitHub()">
        <i nz-icon nzType="github"></i> Login with GitHub
      </button>

      <!-- Spin -->
      <!-- <ng-template #indicatorTemplate
            ><span nz-icon nzType="loading"></span
          ></ng-template>
          <nz-spin
            *ngIf="showSpinner"
            nzSimple
            [nzIndicator]="indicatorTemplate"
          ></nz-spin> -->
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <br />
        <a class="login-form-forgot" href="">Forgot password?</a>
        <br />
        <a (click)="goToRegister()">Create an account!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
