<div class="container" style="margin-top: 80px">
  <h2 class="mtis-textcolor1">Project request</h2>
  <p>
    This form will give us a glimpse of what you want to achieve. We will
    contact you in case we can team up!
  </p>

  <div class="row" style="height: 50px; margin-top: 38px">
    <div class="col s12 m6 l6">
      <p class="cls-label">Company</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="col s12 m6 l6">
      <p class="cls-label">Delegate name (*)</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="col s12 m6 l6">
      <p class="cls-label">Delegate email (*)</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="col s12 m6 l6">
      <p class="cls-label">What's your software projec industry?</p>
      <select multiple>
        <option value="" disabled selected>Choose your categories</option>
        <option value="1">Real State</option>
        <option value="2">Education</option>
        <option value="3">Information Tecnology</option>
        <option value="4">Finances</option>
        <option value="5">Construction</option>
        <option value="6">Innovation</option>
        <option value="7">Marketing</option>
        <option value="8">Others</option>
      </select>
    </div>

    <div class="col s12 m6 l6">
      <p class="cls-label">Does your project have any name yet?</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="col s12 m6 l6">
      <p class="cls-label">What time have you estimated for your project?</p>
      <input id="first_name" type="text" class="validate" />
    </div>

    <div class="col s12 m6 l6">
      <p class="cls-label">
        Would you like to share any files with us? So we can understand better
        your idea
      </p>
      <form action="#">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 80px">
    <div class="col s12 m6 l12 right-align" style="margin: 35px 0">
      <a class="waves-effect waves-light btn" style="width: 132px">send</a>
    </div>
  </div>
</div>
