.chat-messages {
  .message {
    border-radius: 12px;
    padding: 10px;
  }
  //   width: 50%;
  height: 80%;
  overflow-y: scroll;
}

// .chat-input {
//   position: absolute;
//   bottom: 0;
//   margin: 12px 0 12px 0;
// }
