<div
  style="
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fcfcfc;
    overflow-y: scroll;
  "
>
  <ul class="chat-list">
    <li *ngFor="let msg of chatMessages" style="font-size: 11px">
      <nz-row>
        <nz-col nzSpan="4">
          <nz-avatar
            [nzSrc]="
              msg?.use_pic ||
              'https://firebasestorage.googleapis.com/v0/b/mantis-project-7c277.appspot.com/o/avataaars-example.png?alt=media&token=0e4ce4f4-10cd-4009-af54-71137fe4e676'
            "
            [nzShape]="'circle'"
          ></nz-avatar>
        </nz-col>
        <nz-col nzSpan="20">
          <p style="margin: 0">{{ msg.last_msg }}</p>
          <p>{{ msg.use_name }}</p>
        </nz-col>
      </nz-row>
    </li>
  </ul>
</div>
