<div class="container">
  <nz-form [formGroup]="itemForm">
    <nz-row>
      <nz-form-control nzHasFeedback>
        <nz-col nzXs="24" nzSm="24">
          <h5 nz-typography>Title*</h5>
          <input
            nz-input
            formControlName="item_title"
            placeholder="Type title"
          />
          <div
            class="validation-message"
            *ngIf="
              itemForm.get('item_title')!.invalid &&
              itemForm.get('item_title')!.touched
            "
            nz-form-explain
          >
            Please enter a title
          </div>
        </nz-col>
      </nz-form-control>
    </nz-row>

    <nz-row>
      <nz-form-control nzHasFeedback>
        <nz-col nzXs="24" nzSm="24">
          <h5 nz-typography>Description*</h5>
          <input
            nz-input
            formControlName="item_descri"
            placeholder="Description"
          />
          <div
            class="validation-message"
            *ngIf="
              itemForm.get('item_descri')!.invalid &&
              itemForm.get('item_descri')!.touched
            "
            nz-form-explain
          >
            Please enter a description
          </div>
        </nz-col>
      </nz-form-control>
    </nz-row>

    <nz-row>
      <nz-form-control>
        <nz-col nzXs="24" nzSm="24">
          <h5 nz-typography>Status*</h5>
          <nz-select
            nzAllowClear
            nzPlaceHolder="Choose a status"
            formControlName="item_status"
          >
            <ng-container *ngFor="let data of itemStatuses">
              <nz-option
                [nzValue]="data.value"
                [nzLabel]="data.text"
              ></nz-option>
            </ng-container>
          </nz-select>
          <div
            class="validation-message"
            *ngIf="
              itemForm.get('item_status')!.invalid &&
              itemForm.get('item_status')!.touched
            "
            nz-form-explain
          >
            Please enter the item status
          </div>
        </nz-col>
      </nz-form-control>
    </nz-row>

    <nz-row style="display: inline; margin-bottom: 12px">
      <h5 nz-typography>Attach a file</h5>

      <nz-upload
        class="upload-list-inline"
        nzListType="picture"
        [(nzFileList)]="fileList"
        (nzChange)="handleFilesUpload($event)"
        [nzBeforeUpload]="beforeUpload"
      >
        <button nz-button>
          <span>
            <span nz-icon nzType="upload"></span>
            Upload
          </span>
        </button>
      </nz-upload>
    </nz-row>

    <!--     
    <nz-row>
      <nz-form-control>
        <nz-col nzXs="24" nzSm="24">
          <h5 nz-typography>Team</h5>
          <nz-select
            nzAllowClear
            nzMode="multiple"
            nzPlaceHolder="Select the users group"
            formControlName="item_users"
          >
            <nz-option
              *ngFor="let user of developerSelect"
              [nzLabel]="user.use_name"
              [nzValue]="user"
            >
              {{ user.use_name }}
            </nz-option>
          </nz-select>
        </nz-col>
      </nz-form-control>
    </nz-row> -->

    <nz-row>
      <nz-col nzXs="24" nzSm="8">
        <nz-form-item class="submit-button">
          <button
            nz-button
            nzType="primary"
            [disabled]="itemForm.invalid"
            (click)="createItem(itemForm)"
            nzBlock
          >
            Submit
          </button>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-form>
</div>
